services:
    api:
      build:
        context: .
        dockerfile: Dockerfile
        args:
            - DOTNET_IMAGE_VERSION=${DOTNET_IMAGE_VERSION}
            - DOTNET_LANG_NAME=${DOTNET_LANG_NAME}
            - DOTNET_LANG_INPUTFILE=${DOTNET_LANG_INPUTFILE}
            - DOTNET_LANG_CHARMAP=${DOTNET_LANG_CHARMAP}
            - DOTNET_DEBIAN_FRONTEND=${DOTNET_DEBIAN_FRONTEND}
            - DOTNET_TIME_ZONE=${DOTNET_TIME_ZONE}
      image: ${CONTAINER_AUTHOR}/${PROJECT_NAME}/api_${API_VERSION}
      container_name: ${PROJECT_NAME}_api
      env_file:
        - ${ENV_FILE_PATH}
      environment:
          - DOTNET_LANG_NAME=${DOTNET_LANG_NAME}
          - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
          - ASPNETCORE_URLS=${ASPNETCORE_URLS}
      ports:
        - ${API_OUTER_PORT}:${API_INNER_PORT}
      networks:
        finshark_network:
          ipv4_address: ${API_HOST_IP}
      depends_on:
        - mssql
      tty: true
      restart: always

    mssql:
      build:
        context: ./conf/mssql
        dockerfile: Dockerfile
      image: ${CONTAINER_AUTHOR}/${PROJECT_NAME}/mssql_${MSSQL_VERSION}
      container_name: ${PROJECT_NAME}_mssql
      volumes:
              - ./data/mssql/mssql_data:/var/opt/mssql/data
              - ./backup:${MSSQL_BACKUP_PATH}
              - ./logs/mssql:/var/opt/mssql/log
              - ./secrets/mssql:/var/opt/mssql/secrets
      environment:
              - ACCEPT_EULA=${MSSQL_EULA}
              - SA_PASSWORD=${MSSQL_SA_PASSWORD}
              - MSSQL_PID=${MSSQL_PID}
              - MSSQL_COLLATION=${MSSQL_COLLATION}
              - MSSQL_ENABLE_HADR=${MSSQL_ENABLE_HADR}
      env_file:
          - ${ENV_FILE_PATH}
      user: root
      ports:
          - ${MSSQL_OUTER_PORT}:${MSSQL_INNER_PORT}
      networks:
          finshark_network:
              ipv4_address: ${MSSQL_HOST_IP}
      restart: always

networks:
  finshark_network:
    driver: bridge
    ipam:
      config:
        - subnet: ${MSSQL_SUBNET}
          gateway: ${MSSQL_GATEWAY}
